html {
    scroll-behavior: smooth;
}

::-moz-selection {
    color: black;
    background: #fadea0;
}

::selection {
    color: black;
    background: #fadea0;
}

.page-align::-webkit-scrollbar {
    display: none;
}

.page-align {
    margin: 0;
}

#navbar {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: top 0.3s ease-in-out;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #807867;
    color: black;
}

#navbar a.active {
    background-color: black;
    color: #d50000;
}

.me {
    color: white;
    float: right;
    position: sticky;
    left: 90%;
}

.container {
    position: relative;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    letter-spacing: 3px;
    color: #d50000;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 0;
    margin: 0px;
    color: white;
    font-weight: 400;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grad {
    background-color: rgb(2, 2, 10);
    background-repeat: no-repeat;
}

.container2 {
    position: relative;
    text-align: center;
    top: 150px;
}

.vls {
    border-left: 6px solid white;
    height: 200px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    margin-top: 130px;
}

.vld {
    border-right: 6px solid white;
    height: 200px;
    position: absolute;
    right: 20%;
    margin-right: -3px;
    margin-top: 130px;
}

.box {
    text-align: center;
    position: absolute;
    margin-top: 180px;
    left: 25%;
    right: 25%;
    height: 400px;
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}

.container3 {
    position: relative;
    top: 800px;
    text-align: justify;
}

.textbox {
    position: absolute;
    box-sizing: border-box;
    margin-top: 230px;
    left: 50%;
    right: 10%;
}

.image-left {
    position: absolute;
    left: 0;
    right: 55%;
}

.text {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.h3 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 1000px;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.container4 {
    position: relative;
    top: 2100px;
    text-align: center;
}

.container5 {
    position: relative;
    top: 2500px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}

.row {
    position: relative;
    top: 2550px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex: 16.66%;
    padding: 5px;
}

.image {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

.text1 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: 40px;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container6 {
    position: relative;
    top: 2540px;
}

.container7 {
    position: relative;
    top: 2430px;
    height: 40px;
    text-align: center;
    padding: 15%;
}

.text2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 40px;
    transition: ease 1.0s;
}

.text2:hover {
    color: red;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#myBtn {
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: none;
    /*background-color: #555;
    color: white;*/
    cursor: pointer;
    padding: 20px;
    font-size: 8px;
    transition: ease 1.0s;
}

#myBtn:hover {
    background-color: red;
}

a {
    color: white;
}